<h1>Habit man</h1>

<p><b>Group: </b><%= @group.name %></p>

<p><b>Title: </b><%= @notification.title %></p>

<p><b>Description: </b><%= Rinku.auto_link(simple_format(@notification.description), :all, 'target="_blank"').html_safe %></p>

<p><b>Date: </b><%= @notification.memo_date %></p>

<p><b>From: </b><%= @notification.user.name %></p>


