<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">
    <%= image_tag @group.image_url, size: "50x50" %>
    <%= @group.name %>
  </div>
  <div class="list-group list-group-flush">
      <%= link_to @group, class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
        <i class="fa-solid fa-house"></i>
        Home
      <% end %>
      <%= link_to group_calendar_path(@group), class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
        <i class="fa-regular fa-calendar-days"></i>
        Calendar
      <% end %>
      <%= link_to group_member_path(@group), class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
        <i class="fa-solid fa-users"></i>
        Members
      <% end %>
      <%= link_to edit_group_path(@group), class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
        <i class="fa-solid fa-gear"></i>
        Settings
      <% end %>
  </div>
</div>
