<% provide(:title, "group edit") %>

<div id="groupContainer" class="groupPage" style="margin-top: 51px;">
  <!-- Sidebar -->
  <div id="groupAside">
    <%= render "groups/sidebar" %>
  </div>

  <!-- Main -->
  <div id="main" class="groupPage" style="padding-left: 320px;">
    <div class="headingGroupSettings">
      <div class="groupMain">
        <h2 class="heading">Group Settings</h2>
      </div>
    </div>
    <div class="groupSettingForm">
      <%= form_with(model: @group) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="settingGroupSection">
          <p class="groupItemLabel"><%= f.label :name, "グループ名" %></p>
          <div class="groupNameArea">
            <%= f.text_field :name, class: "groupNameForm", size: 50 %>
          </div>
        </div>
        <div class="settingGroupSection">
          <p class="groupItemLabel"><%= f.label :image, "グループ画像" %></p>
          <div class="groupImageArea">
            <%= f.file_field :image, accept: "image/*" %>
          </div>
        </div>
        <%= f.submit "Save changes", class: "btn btn-primary btn-lg mt-2" %>
      <% end %>
    </div>
  </div>
</div>
