<% provide(:title, "Group index") %>

<div id="groupIndex" class="groupPage" style="margin-top: 51px;">
  <div class="headingGroups">
    <div class="groupMain">
      <h2 class="heading">Groups</h2>
    </div>
  </div>
  <div class="groupCreateModal">
    <%= render "groups/group_create_modal" %>
  </div>
  <div class="groupTable">
    <table class="table">
      <thead>
        <tr>
          <th>グループ画像</th>
          <th>グループ名</th>
          <th>オーナー</th>
          <th>メンバー数</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td>
              <%= image_tag group.image_url, size: "50x50" %>
            </td>
            <td><%= link_to group.name, group_path(group.id) %></td>
            <td><%= User.find_by(id: group.owner_id).name %></td>
            <td><%= group.users.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


