<% provide(:title, "members") %>

<div id="groupContainer" class="groupPage" style="margin-top: 51px;">
  <!-- Sidebar -->
  <div id="groupAside">
    <%= render "groups/sidebar" %>
  </div>

  <!-- Main -->
  <div id="main" class="groupPage" style="padding-left: 320px;">
    <div class="headingMembers">
      <div class="groupMain">
        <h2 class="heading">Members</h2>
      </div>
    </div>
    <div class="unitContent">
      <div class="member_invite_form" style="margin-bottom: 30px;">
        <%= render "groups/member_invite_modal" %>
      </div>
      <div class="boxMemberFilter">
        <div class="user_type">
          <p class="user_type_name">ユーザー種別</p>
        </div>
        <div class="type_owner">
          <i class="fa-solid fa-user" style="color: blue;"></i> オーナー
        </div>
        <div class="type_member">
          <i class="fa-solid fa-user" style="color: green;"></i> メンバー
        </div>
      </div>
      <div class="boxMemberList">
        <ul class="listContainer">
          <% @members.each do |member| %>
            <li>
              <p class="profile"><%= gravatar_for member %></p>
              <p class="name">
                <% if @group.owner_id == member.id %>
                  <i class="fa-solid fa-user" style="color: blue;"></i>
                  <%= member.name %>
                <% else %>
                  <i class="fa-solid fa-user" style="color: green;"></i>
                  <%= member.name %>
                <% end %>
              </p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


