<div>
  <h4>メンバー一覧</h4>
  <% @members.each do |user| %>
    <%= user.name %><br>
  <% end %>

  <% if current_user.id == @group.owner_id %>
    <%= form_with(url: group_invite_path(@group), scope: :group) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.submit "Invite User", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
