<% provide(:title, "profile edit") %>

<div id="main" class="profileEdit">
  <div class="headingProfileSettings">
    <div class="profileMain">
      <h2 class="heading">Profile Settings</h2>
    </div>
  </div>
  <div class="profileSettingForm">
    <%= form_with(model: @user) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="settingProfileSection">
        <p class="profileItemLabel"><%= f.label :name, "ユーザー名" %></p>
        <div class="profileNameArea">
          <%= f.text_field :name, class: "profileNameForm Form", size: 50 %>
        </div>
      </div>
      <div class="settingProfileSection">
        <p class="profileItemLabel"><%= f.label :email, "メールアドレス" %></p>
        <div class="profileEmailArea">
          <%= f.email_field :email, class: "profileEmailForm Form", size: 50 %>
        </div>
      </div>
      <div class="settingProfileSection">
        <p class="profileItemLabel"><%= f.label :password, "パスワード" %></p>
        <div class="profilePasswordArea">
          <%= f.password_field :password, class: "profilePasswordForm Form", size: 50 %>
        </div>
      </div>
      <div class="settingProfileSection">
        <p class="profileItemLabel"><%= f.label :password_confirmation, "パスワード確認" %></p>
        <div class="profilePasswordConfirmationArea">
          <%= f.password_field :password_confirmation, class: "profilePasswordConfirmationForm Form", size: 50 %>
        </div>
      </div>
      <div class="settingProfileSection">
        <p class="profileItemLabel">プロフィール画像</p>
        <div class="profileImageArea">
          <%= gravatar_for @user %>
          <a href="https://gravatar.com/emails" target="_blank" rel="noopener" style="text-decoration: none;" class="profile_change_link">change</a>
        </div>
      </div>
      <%= f.submit "Save changes", class: "btn btn-primary btn-lg mt-2" %>
    <% end %>
  </div>
</div>
