<% provide(:title, "Sign up") %>

<body class="text-center vsc-initialized">
  <main class="form-signin w-100 m-auto">
    <%= form_with(model: @user) do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= image_tag "logo_m01.png", size: "72x57" %>

      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

      <div class="form-floating">
        <%= f.label(:name, "User Name") %>
        <%= f.text_field :name, class: "form-control", id: "user_name", placeholder: "name" %>
      </div>

      <div class="form-floating">
        <%= f.label(:email, "Email address") %>
        <%= f.email_field :email, class: "form-control", id: "user_email", placeholder: "name@example.com" %>
      </div>

      <div class="form-floating">
        <%= f.label(:password, "Password") %>
        <%= f.password_field :password, class: "form-control", id: "user_password", placeholder: "password" %>
      </div>


      <div class="form-floating">
        <%= f.label(:password_confirmation, "Password Confirmation") %>
        <%= f.password_field :password_confirmation, class: "form-control", id: "user_password_confirmation", placeholder: "password_confirmation" %>
      </div>

      <%= f.submit "Create my account", class: "w-100 btn btn-lg btn-primary" %>
    <% end %>
  </main>
</body>

