<% @memo.memo_comments.each do |memo_comment| %>
  <section class="comment-index">
    <div class="user-icon">
      <%= gravatar_for memo_comment.user %>
    </div>
    <div class="comment-section">
      <div class="user-section">
        <div class="user-name">
          <%= memo_comment.user.name %>
        </div>
        <div class="comment-time">
          <%= memo_comment.created_at.strftime("%Y/%m/%d %H:%M") %>
        </div>
        <div class="comment-delete_link">
          <% if memo_comment.user == current_user %>
            <%= link_to "削除", [@group, @memo, memo_comment], data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none" %>
          <% end %>
        </div>
      </div>
      <div class="comment-body">
        <%= Rinku.auto_link(memo_comment.comment, :all, 'target="_blank"').html_safe %>
      </div>
    </div>
  </section>
<% end %>


