<% provide(:title, "archives") %>

<div id="groupContainer" class="groupPage" style="margin-top: 51px;">
  <!-- Sidebar -->
  <div id="groupAside">
    <%= render "groups/sidebar" %>
  </div>

  <!-- Main -->
  <div id="main" class="groupPage" style="padding-left: 320px;">
    <div class="unitContent">
      <div class="headingArchives" style="color: green;">
        <div class="memoMain">
          <h2 class="heading"><b>Archives</h2>
        </div>
      </div>
      <div class="tag-search-form">
        <%= render "archives/keyword_search_archive" %>
      </div>
      <% @archives.each do |archive| %>
        <div class="content">
          <div class="boxBalloon">
            <div class="feedSection">
              <div class="header">
                <div class="left-content">
                  <div class="user-icon">
                    <%= gravatar_for archive.user %>
                  </div>
                  <div class="feed-info">
                    <div>
                      <b><%= archive.user.name %></b>
                    </div>
                    <div class="feed-date">
                      <%= archive.memo_date %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="body">
                <div class="body-title">
                  <%= link_to group_archive_path(@group, archive), class: "memo-link" do %>
                    <b><%= archive.title %></b><br>
                  <% end %>
                </div>
                <p style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                  <%= Rinku.auto_link(archive.description, :all, 'target="_blank"').html_safe %>
                </p>
              </div>
            </div>
            <div class="boxFeedFooter">
              <div class="tag-list">
                <%= render "archives/tag_list_archive", tag_list: archive.tag_list %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</div>



