<% provide(:title, @archive.title) %>

<div id="groupContainer" class="groupPage" style="margin-top: 51px;">
  <!-- Sidebar -->
  <div id="groupAside">
    <%= render "groups/sidebar" %>
  </div>

  <!-- Main -->
  <div id="main" class="groupPage memoShow" style="padding-left: 320px;">
    <div class="content">
      <div class="content-user">
        <div class="user-icon">
          <%= gravatar_for @archive.user %>
        </div>
        <div class="user-name">
          <%= @archive.user.name %>
        </div>
      </div>
      <div class="content-header">
        <div class="content-title">
          <h2><%= @archive.title %></h2>
        </div>
        <div class="content-tag">
          <%= render "memos/tag_list", tag_list: @archive.tag_list %>
        </div>
        <div class="content-option">
          <div class="content-time">
            投稿日 <%= @archive.memo_date %>
          </div>
          <% # アーカイブ閲覧日 %>
        </div>
      </div>
      <div class="content-main">
        <%= Rinku.auto_link(@archive.description, :all, 'target="_blank"').html_safe %>
      </div>
      <div class="content-file">
        <% unless @archive.memo_file.blank? %>
          <%= link_to @archive.memo_file.identifier, group_archive_download_path(@group, @archive) %>
        <% end %>
      </div>
    </div>
    <% # アーカイブ編集ボタン %>
  </div>
</div>




