<% provide(:title, "memos edit") %>

<div id="groupContainer" class="groupPage" style="margin-top: 51px;">
  <!-- Sidebar -->
  <div id="groupAside">
    <%= render "groups/sidebar" %>
  </div>

  <!-- Main -->
  <div id="main" class="memoEditPage" style="padding-left: 320px;">
    <div class="headingMemoEdit">
      <div class="groupMain">
        <h2 class="heading">Memo Edit Page</h2>
      </div>
    </div>
    <div class="memoEditForm">
      <%= form_with(model: @memo, url: group_memo_path) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="editMemoSection">
          <p class="memoItemLabel"><%= f.label :title, "タイトル" %></p>
          <div class="memoTitleArea">
            <%= f.text_field :title, class: "memoInputForm", size: 50 %>
          </div>
        </div>
        <div class="editMemoSection">
          <p class="memoItemLabel"><%= f.label :description, "詳細" %></p>
          <div class="memoDescriptionArea">
            <%= f.text_area :description, class: "memoInputForm" %>
          </div>
        </div>
        <div class="editMemoSection">
          <p class="memoItemLabel"><%= f.label :tag_list, "タグ(please separate tag with ,)" %></p>
          <div class="memoTagArea">
            <%= f.text_field :tag_list, value: @memo.tag_list.join(","), class: "memoInputForm" %>
          </div>
        </div>
        <div class="editMemoSection">
          <p class="memoItemLabel"><%= f.label :key %></p>
          <div class="memoKeyArea">
            <%= f.check_box :key, class: "memoInputForm" %>
          </div>
        </div>
        <%= f.submit "Save changes", class: "btn btn-primary btn-lg mt-2" %>
      <% end %>
    </div>
  </div>
</div>




