<% provide(:title, "Memos index") %>


<div class="row">
  <div class="col-md-2">
    <%= render "groups/sidebar" %>
  </div>
  <div class="col-md-10" style="padding-top: 20px">

  <%= form_with(model: [@group, @memo]) do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">memo create form</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

            <div class="modal-body">

              <%= f.label :title %>
              <%= f.text_field :title, class: "form-control" %>

              <%= f.label :description %>
              <%= f.text_area :description, class: "form-control" %>

              <%= f.hidden_field :memo_date, :value => @date, class: "form-control" %>

              <%= f.label :tag_list %>
              <p>Please separate tags with ,</p>
              <%= f.text_field :tag_list, value: @memo.tag_list.join(","), class: "form-control" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>

        </div>
      </div>
    </div>
  <% end %>


    <div class="d-flex">
      <h1 class="h3 mb-3 fw-normal"><%= @date %> memos</h1>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
        new memo
      </button>
    </div>


    <table class="table">
      <thead>
        <tr>
          <th>memo title</th>
          <th>memo description</th>
          <th>memo user</th>
        </tr>
      </thead>
      <tbody>
        <% @memos.each do |memo| %>
          <tr>
            <td><%= link_to memo.title, group_memo_path(@group, memo) %></td>
            <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 0;"><%= memo.description %></td>
            <td><%= memo.user.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



