<% provide(:title, @memo.title) %>

<div id="groupContainer" class="groupPage" style="margin-top: 51px;">
  <!-- Sidebar -->
  <div id="groupAside">
    <%= render "groups/sidebar" %>
  </div>

  <!-- Main -->
  <div id="main" class="groupPage memoShow" style="padding-left: 320px;">
    <div class="content">
      <div class="content-user">
        <div class="user-icon">
          <%= gravatar_for @memo.user %>
        </div>
        <div class="user-name">
          <%= @memo.user.name %>
        </div>
      </div>
      <div class="content-header">
        <div class="content-title">
          <h2><%= @memo.title %></h2>
        </div>
        <div class="content-tag">
          <%= render "memos/tag_list", tag_list: @memo.tag_list %>
        </div>
        <div class="content-option">
          <div class="content-time">
            投稿日 <%= @memo.created_at.strftime("%Y/%m/%d %H:%M") %>
          </div>
          <div class="feed-read_count">
            <i class="fa-solid fa-eye"></i> <%= @memo.read_counts.count %>
          </div>
          <div class="feed-view_count">
            <i class="fa-solid fa-signal"></i> <%= @memo.view_counts.count %>
          </div>
        </div>
      </div>
      <div class="content-main">
        <%= Rinku.auto_link(@memo.description, :all, 'target="_blank"').html_safe %>
      </div>
      <div class="content-file">
        <% unless @memo.memo_file.blank? %>
          <%= link_to @memo.memo_file.identifier, group_memo_download_path(@group, @memo) %>
        <% end %>
      </div>
    </div>
    <div class="button-list">
      <% if @memo.user == current_user %>
        <button type="button" class="btn btn-primary">
          <%= link_to "編集", edit_group_memo_path(@group, @memo), class: "text-light text-decoration-none" %>
        </button>
        <button type="button" class="btn btn-danger">
          <%= link_to "削除", [@group, @memo], data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class: "text-light text-decoration-none" %>
        </button>
      <% end %>
      <button type="button" class="btn btn-secondary">
        <%= link_to "一覧に戻る", group_memos_path(@group, memo_date: @memo.memo_date), class: "text-light text-decoration-none" %>
      </button>
    </div>
  </div>
</div>




