<% provide(:title, "memos show") %>

<div class="row" id="wrapper">
  <!-- Sidebar -->
  <div class="col-md-2">
    <%= render "groups/sidebar" %>
  </div>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper" class="container-fluid col-md-10">
      <!-- Page content-->
      <div class="container-fluid">
        <table class="table table-bordered border-success">
          <tr>
            <th>タイトル</th>
            <td><%= @memo.title %></td>
          </tr>
          <tr>
            <th>詳細</th>
            <td><%= @memo.description %></td>
          </tr>
          <tr>
            <th>ユーザー</th>
            <td><%= @memo.user.name %> <%= gravatar_for @memo.user %></td>
          </tr>
        </table>

        <button type="button" class="btn btn-primary">
          <%= link_to "編集", edit_group_memo_path(@group, @memo), class: "text-light text-decoration-none" %>
        </button>
        <button type="button" class="btn btn-danger">
          <%= link_to "削除", "#", class: "text-light text-decoration-none" %>
        </button>
        <button type="button" class="btn btn-secondary">
          <%= link_to "一覧に戻る", "#", class: "text-light text-decoration-none" %>
        </button>
      </div>
  </div>
</div>




